.welcome {
    width: 100%;
    height: calc(100vh - 50px);
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.welcome .content {
    width: 40%;
    height: auto;
    border-radius: 20px;
    background: #1C1C1A;
    display: flex;
    flex-direction: column;
    animation: open_content 1.5s ease-in-out;
}
.welcome .content .text {
    padding: 3vw 2vw 2vw 2vw;
    opacity: 1;
    animation: open_text 3s ease-in-out;
}
.welcome .content .text span {
    font-size: 2vw;
    position: relative;
}
.welcome .content .text h2 {
    font-size: 1.5vw;
}
.welcome .content .text span:before {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: #DDDDDD;
}
.welcome .content .text p {
    font-size: 1.3vw;
}
.welcome .content .links {
    text-align: center;
    opacity: 1;
    animation: open_links 3s ease-in-out;
    padding: 1vw 0 3vw 0;
}
.welcome .content .links a {
    text-decoration: none;
    color: #DDDDDD;
    margin: 10px;
    padding: 15px;
    font-size: 1.2vw;
    background: #2D2D2D;
    border-radius: 10px;
    opacity: 0.6;
}
.welcome .content .links a:hover {
    opacity: 1;
}
.welcome .word {
    position: absolute;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    animation: open_word 2.5s ease-in-out;
}
.welcome .word h2 {
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@keyframes open_content {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
@keyframes open_word {
    60% {
        visibility: visible;
        opacity: 1;
    }
    70% {
        visibility: hidden;
        opacity: 0;
    }
}
@keyframes open_text {
    0% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes open_links {
    0% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .welcome .content {
        width: 60%;
    }
    .welcome .content .text {
        padding: 5vw 4vw 4vw 4vw;
    }
    .welcome .content .text h2 {
        font-size: 3vw;
    }
    .welcome .content .text span {
        font-size: 4vw;
    }
    .welcome .content .text span:before {
        bottom: 1px;
        height: 2px;
    }
    .welcome .content .text p {
        font-size: 2.5vw;
    }
    .welcome .content .links {
        padding: 0.5vw 0 4vw 0;
    }
    .welcome .content .links a {
        padding: 10px;
        font-size: 2.3vw;
    }
    .welcome .word h2 {
        font-size: 6vw;
    }
}
@media (max-width: 500px) {
    .welcome .content {
        width: 80%;
    }
    .welcome .content .text {
        padding: 6vw 5vw 5vw 5vw;
    }
    .welcome .content .text h2 {
        font-size: 5vw;
    }
    .welcome .content .text span {
        font-size: 6vw;
    }
    .welcome .content .text p {
        font-size: 4.5vw;
    }
    .welcome .content .links {
        padding: 2vw 0 7vw 0;
    }
    .welcome .content .links a {
        font-size: 4.5vw;
    }
    .welcome .word h2 {
        font-size: 8vw;
    }
}