.mozaic .element:nth-child(4) .window,
.mozaic .element:nth-child(12) .window {
    top: 15%;
}
.mozaic .element:nth-child(7) .window {
    top: 5%;
}
@media (max-width: 500px) {
    .mozaic .element .window {
        top: 20%;
    }
    .mozaic .element:nth-child(4) .window {
        top: 25%;
    }
    .mozaic .element:nth-child(7) .window {
        top: 13%;
    }
}